﻿@model TLEFreelance.Models.ProductInputModels
@{
    Layout = null;
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript">
    function StartValidation() {
        return true;
    }
</script>
@using (Ajax.BeginForm("UpdateProductData", "Home", new AjaxOptions
{
    HttpMethod = "Post",
    UpdateTargetId = "result",
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure",
    LoadingElementId = "result"
}))
{
<table style="width:100%" >
    <tr>
        <th width="20%">Code</th>
        <td width="10%"></td>
        <td>
            @Html.TextBoxFor(model => model.ProductCode, new { @class = "form-control",@readonly="readonly" })
        </td>
    </tr>
    <tr >
        <th width="20%">Product Name</th>
        <td width="10%"></td>
        <td>
            @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control" })
        </td>
    </tr>
    <tr>
        <th width="20%">Product Description</th>
        <td width="10%"></td>
        <td>
            @Html.TextBoxFor(model => model.ProductDescription, new { @class = "form-control" })
        </td>
    </tr>
    <tr>
        <th width="20%">Is Active</th>
        <td width="10%"></td>
        <td>
            @Html.CheckBox("cbxIsActive",(Model.IsActive==1)?true:false, new { @class = "form-control" })
        </td>
    </tr>
    <tr>
        <th colspan="3" style="text-align:center;">
            <hr />
            <button type="submit" class="btn btn-default" id="btnSave">บันทึก</button>
        </th>
    </tr>
</table>
}
<div id="result" style="text-align:center;"></div>
<script type="text/javascript">
    function OnSuccess(response) {
        if (response.success) {
            alert(response.msg);
            $("#dialogModal").modal('hide');
            parent.location.reload();
        } else {
            alert(response.msg);
        }
    }
    function OnFailure(response) {
        alert("Error occured.");
    }
    </script>