﻿@model TLEFreelance.Models.OrderInputModels
@{
    Layout = null;
    List<TLEFreelance.dbDAC.ops_orderdetail> orderDetail = ViewBag.AllProductDetail;
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript">
    function StartValidation() {
        return true;
    }
</script>
@using (Ajax.BeginForm("UpdateOrderData", "Home", new AjaxOptions
{
    HttpMethod = "Post",
    UpdateTargetId = "result",
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure",
    LoadingElementId = "result"
}))
{
<table style="width:100%" >
    <tr>
        <th width="20%">Order Code</th>
        <td width="10%"></td>
        <td>
            @Html.TextBoxFor(model => model.OrderCode, new { @class = "form-control", @readonly = "readonly" })
        </td>
    </tr>
    <tr >
        <th width="10%">Customer</th>
        <td width="10%"></td>
        <td>
            @Html.DropDownListFor(model=>model.CustomerCode,new SelectList(ViewBag.CustomerSlc, "Value", "Text"), "Select Customer", new {  @style = "width:200px;", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CustomerCode, "", new { @class = "text-danger" })
        </td>
    </tr>
    <tr>
        <th>Product</th>
        <td></td>
        <td>
            <table border="1">
                <tr>
                    <th>เลือกสินค้า</th>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Product Description</th>
                    <th>จำนวน</th>
                </tr>
                @{
                    var getProdData = ViewBag.AllProduct;
                }
                @foreach (var prodData in getProdData)
                {
                    var getProdDetailData = orderDetail.Where(o => o.ProductCode.Equals(prodData.ProductCode));
                    string isChecked = (getProdDetailData.Count() > 0) ? "checked='checked'" : null;
                    string prodAmount = (getProdDetailData.Count() > 0) ? getProdDetailData.FirstOrDefault().QTY.ToString() : "1";
                    string isSelectedTxt = "selected='selected'";
                    <tr>
                        <td><input type="checkbox" name="prodSlc" value="@prodData.ProductCode" @isChecked/></td>
                        <td>@prodData.ProductCode</td>
                        <td>@prodData.ProductName</td>
                        <td>@prodData.ProductDescription</td>
                        <td>
                            <select name="prodAmount_@prodData.ProductCode">
                                <option value="1" @if (prodAmount == "1") { @isSelectedTxt } >1</option>
                                <option value="2" @if (prodAmount == "2") { @isSelectedTxt } >2</option>
                                <option value="3" @if (prodAmount == "3") { @isSelectedTxt } >3</option>
                                <option value="4" @if (prodAmount == "4") { @isSelectedTxt } >4</option>
                                <option value="5" @if (prodAmount == "5") { @isSelectedTxt } >5</option>
                            </select>
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
    <tr>
        <th >Is Active</th>
        <td ></td>
        <td>
            @Html.CheckBox("cbxIsActive",(Model.IsActive==1)?true:false, new { @class = "form-control" })
        </td>
    </tr>
    <tr>
        <th colspan="3" style="text-align:center;">
            <hr />
            <button type="submit" class="btn btn-default" id="btnSave">บันทึก</button>
        </th>
    </tr>
</table>
}
<div id="result" style="text-align:center;"></div>
<script type="text/javascript">
    function OnSuccess(response) {
        if (response.success) {
            alert(response.msg);
            //alert(response.retData);
            $("#dialogModal").modal('hide');
            parent.location.reload();
        } else {
            alert(response.msg);
        }
    }
    function OnFailure(response) {
        alert("Error occured.");
    }
    </script>