﻿@model TLEFreelance.Models.CustomerInputModels
@{
    Layout = null;
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript">
    function StartValidation() {
        return true;
    }
</script>
@using (Ajax.BeginForm("DeleteCustomerData", "Home", new AjaxOptions
{
    HttpMethod = "Post",
    UpdateTargetId = "result",
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure",
    LoadingElementId = "result"
}))
{
<table style="width:100%" >
    <tr>
        <td>
            <h4 style="color:red;">ต้องการลบข้อมูลลูกค้า @Model.CustomerCode หรือไม่ ?</h4>
            @Html.TextBoxFor(model => model.CustomerCode, new { @class = "form-control",@style="display:none" })
        </td>
    </tr>
    <tr>
        <th colspan="3" style="text-align:center;">
            <hr />
            <button type="submit" class="btn btn-default" id="btnDelete">ลบข้อมูล</button>
        </th>
    </tr>
</table>
}
<div id="result" style="text-align:center;"></div>
<script type="text/javascript">
    function OnSuccess(response) {
        if (response.success) {
            alert(response.msg);
            $("#dialogModal").modal('hide');
            parent.location.reload();
        } else {
            alert(response.msg);
        }
    }
    function OnFailure(response) {
        alert("Error occured.");
    }
    </script>