﻿@model TLEFreelance.Models.OrderInputModels
@{
    Layout = null;
    List<TLEFreelance.dbDAC.ops_orderdetail> orderDetail = ViewBag.AllProductDetail;
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript">
    function StartValidation() {
        return true;
    }
</script>

<table style="width:100%" >
    <tr>
        <th width="20%">Order Code</th>
        <td width="10%"></td>
        <td>
            @Model.OrderCode
        </td>
    </tr>
    <tr >
        <th width="10%">Customer</th>
        <td width="10%"></td>
        <td>
           @Model.CustomerCode
        </td>
    </tr>
    <tr>
        <th>Product</th>
        <td></td>
        <td>
            <table border="1">
                <tr>
                    <th>เลือกสินค้า</th>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Product Description</th>
                    <th>จำนวน</th>
                </tr>
                @{
                    var getProdData = ViewBag.AllProduct;
                }
                @foreach (var prodData in getProdData)
                {
                    var getProdDetailData = orderDetail.Where(o => o.ProductCode.Equals(prodData.ProductCode));
                    string isChecked = (getProdDetailData.Count() > 0) ? "checked='checked'" : null;
                    string prodAmount = (getProdDetailData.Count() > 0) ? getProdDetailData.FirstOrDefault().QTY.ToString() : "1";
                    <tr>
                        <td><input type="checkbox" name="prodSlc" value="@prodData.ProductCode" readonly="readonly" @isChecked/></td>
                        <td>@prodData.ProductCode</td>
                        <td>@prodData.ProductName</td>
                        <td>@prodData.ProductDescription</td>
                        <td>
                            @prodAmount
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
    <tr>
        <th >Is Active</th>
        <td ></td>
        <td>
            @((Model.IsActive == 1) ? "YES" : "NO")
        </td>
    </tr>
</table>
