﻿@model List<TLEFreelance.dbDAC.mas_customer>
@{
    ViewBag.Title = "Customer Management.";
}
<h3>@ViewBag.Message</h3>
<section id="searchForm">
    @using (Html.BeginForm())
    {
        <p>
            ค้นหาชื่อลูกค้า : @Html.TextBox("SrcData", @Request["SrcData"])
            <input type="submit" value="ค้นหา" />
        </p>
    }
</section>

<div>
    <div style="text-align:right;">
        <a href="javascript:void(0);" class="btn btn-primary btn-lg" id="btnNew">เพิ่มข้อมูลลูกค้า</a>
    </div>
    <br/>
    <table width="100%" cellpadding="0" cellspacing="0" border="1">
        <tr>
            <th>Customer Code</th>
            <th>Fist Name</th>
            <th>Last Name</th>
            <th>ID Card</th>
            <th>Tel</th>
            <th>IsActive </th>
            <th></th>
        </tr>
        @{
            foreach (var data in Model)
            {
                <tr>
                    <td>@data.CustomerCode</td>
                    <td>@data.FistName</td>
                    <td>@data.LastName</td>
                    <td>@data.IDCrad</td>
                    <td>@data.Tel</td>
                    <td style="@((data.IsActive == 1)?"background-color:#AFDCA9": "background-color:#E89F94")">@((data.IsActive==1) ? "YES" : "NO")</td>
                    <td>
                        <a data-value="@data.CustomerCode" href="javascript:void(0)" class="btnEdit" title="Select to Edit">[แก้ไข]</a>
                        <a data-value="@data.CustomerCode" href="javascript:void(0)" class="btnDelete" title="Select to Delete">[ลบ]</a>
                    </td>
                </tr>
            }
        }
    </table>
</div>
@Scripts.Render("~/bundles/jquery")
<!-- Modal -->
<div class="modal fade" id="dialogModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">-</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<script type="text/javascript">
    $('#btnNew').on('click', function () {
        id = 5;
        $('.modal-title').html("เพิ่มข้อมูลลูกค้า");
        $('.modal-body').load("@Url.Action("GetCustomerFormNew")", { cusID: id }, function () {
            $('#dialogModal').modal({ show: true });
        });
    });
    $('.btnEdit').on('click', function () {
        id = $(this).attr("data-value");
        $('.modal-title').html("แก้ไขข้อมูลลูกค้า");
        $('.modal-body').load("@Url.Action("GetCustomerFormEdit")", { cusID: id }, function () {
            $('#dialogModal').modal({ show: true });
        });
    });
    $('.btnDelete').on('click', function () {
        id = $(this).attr("data-value");
        $('.modal-title').html("ลบข้อมูลลูกค้า");
        $('.modal-body').load("@Url.Action("GetCustomerFormDelete")", { cusID: id }, function () {
            $('#dialogModal').modal({ show: true });
        });
    });
</script>