﻿@model List<TLEFreelance.dbDAC.vwOps_Order>
@{
    ViewBag.Title = "ระบบการสั่งซ้อสินค้า";
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize, canPage: true, canSort: true);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}
<h3>@ViewBag.Message</h3>
<section id="searchForm">
    @using (Html.BeginForm())
    {
        <p>
            ค้นหา Order Code : @Html.TextBox("SrcData", @Request["SrcData"])
            <input type="submit" value="ค้นหา" />
        </p>
    }
</section>
<style type="text/css">

</style>
<div>
    <div style="text-align:right;">
        <a href="javascript:void(0);" class="btn btn-primary btn-lg" id="btnNew">สร้างข้อมูลการสั่งซือสินค้า</a>
    </div>
    <br />
    <table width="100%" cellpadding="0" cellspacing="0" border="1">
        <tr>
            <th>Order Code</th>
            <th>Customer Code</th>
            <th>Order Date</th>
            <th>IsActive </th>
            <th></th>
        </tr>
        @{
            foreach (var data in Model)
            {
                <tr>
                    <td>@data.OrderCode</td>
                    <td>@data.CustomerCode</td>
                    <td>@data.OrderDate.Value.ToString("dd MMM yyyy")</td>
                    <td style="@((data.IsActive == 1)?"background-color:#AFDCA9": "background-color:#E89F94")">@((data.IsActive == 1) ? "YES" : "NO")</td>
                    <td>
                        <a data-value="@data.OrderCode" href="javascript:void(0)" class="btnView" title="Select to View">[ดูรายละเอียด]</a>
                        <a data-value="@data.OrderCode" href="javascript:void(0)" class="btnEdit" title="Select to Edit">[แก้ไข]</a>
                        <a data-value="@data.OrderCode" href="javascript:void(0)" class="btnDelete" title="Select to Delete">[ลบ]</a>
                    </td>
                </tr>
            }
        }
    </table>
</div>
@grid.Pager(WebGridPagerModes.All, "[First]", "<Previous", "Next>", "[Last]")
@Scripts.Render("~/bundles/jquery")
<!-- Modal -->
<div class="modal fade" id="dialogModal" role="dialog">
    <div class="modal-dialog modal-lg" >
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">-</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<script type="text/javascript">
    $('#btnNew').on('click', function () {
        id = 5;
        $('.modal-title').html("สร้างข้อมูลการสั่งซือสินค้า");
        $('.modal-body').load("@Url.Action("GetOrderFormNew")", { orderID: id }, function () {
            $('#dialogModal').modal({ show: true });
        });
    });
    $('.btnEdit').on('click', function () {
        id = $(this).attr("data-value");
        $('.modal-title').html("แก้ไขข้อมูลการสั่งซือสินค้า");
        $('.modal-body').load("@Url.Action("GetOrderFormEdit")", { orderID: id }, function () {
            $('#dialogModal').modal({ show: true });
        });
    });
    $('.btnView').on('click', function () {
        id = $(this).attr("data-value");
        $('.modal-title').html("ข้อมูลการสั่งซือสินค้า");
        $('.modal-body').load("@Url.Action("GetOrderFormView")", { orderID: id }, function () {
            $('#dialogModal').modal({ show: true });
        });
    });
    $('.btnDelete').on('click', function () {
        id = $(this).attr("data-value");
        $('.modal-title').html("ลบข้อมูลการสั่งซือสินค้า");
        $('.modal-body').load("@Url.Action("GetOrderFormDelete")", { orderID: id }, function () {
            $('#dialogModal').modal({ show: true });
        });
    });
</script>