﻿@model List<TLEFreelance.dbDAC.mas_product>
@{
    ViewBag.Title = "Product Management.";
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize, canPage: true, canSort: true);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}
<h3>@ViewBag.Message</h3>
<section id="searchForm">
    @using (Html.BeginForm())
    {
        <p>
            ค้นหาชื่อสินค้า : @Html.TextBox("SrcData", @Request["SrcData"])
            <input type="submit" value="ค้นหา" />
        </p>
    }
</section>

<div>
    <div style="text-align:right;">
        <a href="javascript:void(0);" class="btn btn-primary btn-lg" id="btnNew">เพิ่มข้อมูลสินค้า</a>
    </div>
    <br/>
    <table width="100%" cellpadding="0" cellspacing="0" border="1">
        <tr>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>IsActive </th>
            <th></th>
        </tr>
        @{
            foreach (var data in Model)
            {
                <tr>
                    <td>@data.ProductCode</td>
                    <td>@data.ProductName</td>
                    <td>@data.ProductDescription</td>
                    <td style="@((data.IsActive == 1)?"background-color:#AFDCA9": "background-color:#E89F94")">@((data.IsActive==1) ? "YES" : "NO")</td>
                    <td>
                        <a data-value="@data.ProductCode" href="javascript:void(0)" class="btnEdit" title="Select to Edit">[แก้ไข]</a>
                        <a data-value="@data.ProductCode" href="javascript:void(0)" class="btnDelete" title="Select to Delete">[ลบ]</a>
                    </td>
                </tr>
            }
        }
    </table>
</div>
@grid.Pager(WebGridPagerModes.All, "[First]", "<Previous", "Next>", "[Last]")
@Scripts.Render("~/bundles/jquery")
<!-- Modal -->
<div class="modal fade" id="dialogModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">-</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<script type="text/javascript">
    $('#btnNew').on('click', function () {
        id = 5;
        $('.modal-title').html("เพิ่มข้อมูลสินค้า");
        $('.modal-body').load("@Url.Action("GetProductFormNew")", { prodID: id }, function () {
            $('#dialogModal').modal({ show: true });
        });
    });
    $('.btnEdit').on('click', function () {
        id = $(this).attr("data-value");
        $('.modal-title').html("แก้ไขข้อมูลสินค้า");
        $('.modal-body').load("@Url.Action("GetProductFormEdit")", { prodID: id }, function () {
            $('#dialogModal').modal({ show: true });
        });
    });
    $('.btnDelete').on('click', function () {
        id = $(this).attr("data-value");
        $('.modal-title').html("ลบข้อมูลสินค้า");
        $('.modal-body').load("@Url.Action("GetProductFormDelete")", { prodID: id }, function () {
            $('#dialogModal').modal({ show: true });
        });
    });
</script>